# Gradle
.gradle-dist/
.gradle/
build/
**/build/

# IntelliJ
.idea/
*.iml

# VS Code
essential
.vscode/

# Java
/.jdks/
*.class
/out/

# OS
.DS_Store
Thumbs.db

# Rust toolchain artifacts often in parent drives
.rustup/
.cargo/

# Temporary files
*.log
*.tmp
